<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listado de Autores</title>
</head>
<body>
    <h1>Listado de Autores</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>País</th>
                <th>Nacimiento</th>
            </tr>
        </thead>
        <tbody>
            {% for registro in registros %}
            <tr>
                <td>{{ registro.id }}</td>
                <td>{{ registro.nombre }}</td>
                <td>{{ registro.pais }}</td>
                <td>{{ registro.nacimiento }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>