<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Autores</title>
</head>
<body>
  <h1>Autores</h1>

  <p><a href="/autores/html">Mostrar todos los autores</a></p>

<form method="get" action="/autores/html">
    <label>Año de nacimiento:
      <input type="number" name="year" required >
    </label>
    <label>País:
      <input type="text" name="pais" required>
    </label>
    <button type="submit">Filtrar</button>
  </form>

  <h2>Buscar por título y autor</h2>
  <form method="get" action="/lista-larga/html">
    <label>Título:
      <input type="text" name="titulo">
    </label>
    <label>Autor:
      <input type="text" name="autor">
    </label>
    <button type="submit">Buscar</button>
  </form>

  <h2>Top 10 libros</h2>
  <p><a href="/top10/html">Ver los 10 libros mejor puntuados</a></p>
  <h2>formato</h2>
  <p><a href="/dura">ver libros en formato dura</a></p>
</body>
</html>